aligenie/flask/static/.DS_Store
aligenie/flask/static/aligenie/1a9208152ed08d8268713b13ae9fd192.txt
aligenie/flask/static/aligenie/14b14c86550a0d4c618b4764e11d49db.txt
aligenie/flask/static/aligenie/36686212b9b05b73736f0d77f98377bb.txt
voz_chat/
aligenie/.DS_Store
aligenie/flask/.DS_Store
aligenie/flask/a.json
aligenie/flask/sslapi.py
terraform_1/terraform.tfstate
terraform_1/terraform.tfstate.backup
.DS_Store 
.vscode/launch.json
fapiao.py.tar.gz
